section.header {
  padding-top: 1em;
  margin: 0 $margin-sides;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  justify-content: space-between;
  .logo {
    font-size: 1.5em;
    img {
      max-width: 150px;
      max-height: 50px;
    }
    a {
      text-decoration: none;
    }
  }
  .social {
    flex-grow: 1;
    max-width: 200px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      li {
        margin: 0;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
